@import "tailwindcss";
@import "leaflet/dist/leaflet.css";

@theme {
  --color-teal-50: #f0f4fa;
  --color-teal-100: #e0e9f4;
  --color-teal-200: #c1d3e9;
  --color-teal-300: #a2bddf;
  --color-teal-400: #83a7d4;
  --color-teal-500: #2e56a6;
  --color-teal-600: #2e56a6;
  --color-teal-700: #254585;
  --color-teal-800: #1c3464;
  --color-teal-900: #122242;
}
